.header{
  //position: sticky;
  //flex-direction: row;
  background-color: white;
}
.tab-nav {
  //position: relative;
  //flex-direction: row;
  padding-top:10px;
  width: 250px;
  height: 1200px;
  //right-bottom-color: #e5e5e5;
  //right-bottom-style: solid;
  //right-bottom-width: 1px;
}
/*.box{
  flex: 1;
  width: 600px;
  height: 40px;
  margin-bottom: 22px;
  margin-top: 22px;
  margin-left: 75px;
  margin-right: 75px;
  background-color: gainsboro;
}*/
.tab {
  //flex: 1;
  min-width: 250px;
  height: 90px;
  //line-height: 50px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items:center;
}
//.tab-icon {
//  height: 88px;
//  line-height: 88px;
//  margin-right: 10px;
//}
.tab-text {
  height: 88px;
  //line-height: 88px;
  font-size: 28px;
  text-align: center;
  justify-content: center;
}

/* .line {
  position: absolute;
  min-width: 250px;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: rgb(45, 140, 240);
} */
//.container{
//  display:flex;
//}
